.navbar{
  background-color: #0e1527;
}
.nav-link{
    color: #bdbdbd;
    margin-left: 20px;
    font-size: 14px;
}
.nav-link:hover{
    color: #ffff;
}
.navbar-toggler{
  background-color: #334372;
  padding: .23rem .55rem;
  margin-right: .40rem;
}
