.header-list {
  background-color: #0e1527;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.main-list{
  background-color: #0e1527;
}
.list-table{
  margin-bottom: 4rem;
   margin-right: 4rem;
   margin-left: 4rem;
}
.list-img{
    width: 50px;
}
.scroll{
  max-height: 50vh;
  overflow-y: auto;
}
.movie-name{
  margin-left: 30px;
  color: #ffff;
  text-decoration: none ;
}
.movie-name:hover{
  color: black;
}
.movie-item{
  background: linear-gradient(to right, #000003, #1064ca56);
  color: #ffff;
  
}
.movie-item:hover{
background-color: #e2eaf3;
}
