.main-pg{
    background-color: black;
}
.search-group{
    padding-top: 43px;
    padding-bottom: 43px;
}
.search-bar{
    border-radius: 14px;
    background-color: #ffffffcb;
    margin-bottom: 50px;
}
.search-bar:hover{
    border-color: #7e9cee;
}
.title-search{
    text-align: center;
    color: #999595;
}
.search-card{
    padding: 1px;
    margin: 13px;
}
.search-card:hover{
    box-shadow: 0px 0px 14px 4px #ccc;
}
.card-body{
    text-align: center;
    padding: 10px;
}
.card-title{
    padding-bottom: 10px;
    margin-top: 9px;
    margin-bottom: 2px ;
    border-bottom: #d3d0d063 solid 0.1rem;
    font-size: 0.95rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eye-button{
    color:#999595;
    background-color: transparent;
    border-color: transparent;
}
.eye-button:hover{
    background-color: #575757;
   border-color: currentColor;
}